/* --------------------- NAVBAR --------------------- */
.navbar
{
    color: var(--text-color);
    font-size: 1.0625rem;
    margin-left: 4rem;
}
.navbar a{          /*for head links*/
    color: var(--text-color);
}
.navbar a:hover,.navbar a.active{
    color: var(--main-color);
}

/* --------------------- LOGO & ICON --------------------- */
:root {
    --tab-icon-size: 20px;
}

.logo
{
    font-size: 1.5625rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.tab-icon {
    display: inline-block;
    width: var(--tab-icon-size);
    height: var(--tab-icon-size);
    margin-right: 8px;
    border-radius: 25%;
    object-fit: contain;
    vertical-align: middle;
    flex: 0 0 var(--tab-icon-size);
}

/* ---------------contact------------------ */
.contact_box{
    display: flex;
}
.email_box{
    width: 50%;
}
.accounts_icon{
    width: 50%;
}
.links_icons{
    display: flex;

    img{
        height: 40px;
        width: 40px;
        margin: 5px;

        filter: grayscale(100%);
        transition: transform .2s;
    }
}
.links_icons img:hover{
    filter: grayscale(0%);
    transform: scale(1.4);
}
