:root
{
    /* --bg-color: #1f242d; */                  /*also check later*/
    --bg-color: #222222bf;
    /*--second-bg-color: #323946;            /*also check later */
    --second-bg-color: #222222;
    --text-color: #fff;
    /* --main-color: #0ef; */                   /*also check later*/
    --main-color: #ff6f00e1;

}

/* for puting style on whole html file */
*   
{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:'Poppins',sans-serif;
}

html{
    
    font-size: 62.5%;
    overflow-x: hidden;
}

.header
{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 3%;
    background-color: var(--bg-color);
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.footer
{
    padding: 1rem 4%;
    width: 100%;
    background-color: var(--bg-color);

    .contact
    {
        font-size: large;
    }
}

body{
    background-image: url("./images/technologybackground.jpg");
    background-size: cover;
    background-color:var(--bg-color);
    color: var(--text-color);
}

.logo
{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar
{
    color: var(--text-color);
    font-size: 1.7rem;
    margin-left: 4rem;

    a           /*for head links */
    {
        font-size: 1.7;
        color: var(--text-color);
        margin-left: 4trm;
    }
    a:hover, a.active
    {
        color: var(--main-color);
    }
}

#menu-icon
{
    font-size: 3.2rem;
    color: var(--text-color);
    /* display: none;              for temp */
}

.social-media a
{
    color: var(--text-color);
    font-size: 1.7rem;

}

section
{
    min-height: 100vh;
    padding: 10rem; 
}

.home{
    display: flex;
    align-items: center;
    justify-content:center;
}

.home-image{
    /* justify-content: right; */
    height: 700px;
    width: 700px;
}
