/* Root  */
:root
{
    /* --bg-color: #1f242d; */                  /*also check later*/
    --bg-color: #222222bf;
    /*--second-bg-color: #323946;            /*also check later */
    --second-bg-color: #222222;
    --text-color: #fff;
    /* --main-color: #0ef; */                   /*also check later*/
    --main-color: #ff6f00e1;
}

/* for puting style on whole html file */
*   
{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:'Poppins',sans-serif;
}

html{
    
    font-size: 62.5%;
    overflow-x: hidden;       /*this will hide scrol bar */      
}
header
{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 2.5%;
    background-color: var(--bg-color);
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

footer
{
    position: relative;
    padding: 1rem 4%;
    width: 100%;
    background-color: var(--second-bg-color);
    display: flex;

    .contact
    {
        font-size: large;
    }
}
main{
    height: auto;
    padding: 20px;
}

body{
    background-image: url("./images/technologybackground.jpg");
    background-size: cover;
    background-color:var(--bg-color);
    color: var(--text-color);
}

.navbar
{
    color: var(--text-color);
    font-size: 1.7rem;
    margin-left: 4rem;

    a           /*for head links */
    {
        font-size: 1.7;
        color: var(--text-color);
        margin-left: 4trm;
    }
    a:hover, a.active
    {
        color: var(--main-color);
    }
}

.logo
{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

/* index.html */

#menu-icon
{
    font-size: 3.2rem;
    color: var(--text-color);
    /* display: none;              for temp */
}


.social-media a
{
    color: var(--text-color);
    font-size: 1.7rem;
    
}

section
{
    min-height: 100vh;
    margin-top: 7rem;
    /* padding: 10rem;  */
}

.home{
    display: flex;
    align-items: center;
    justify-content:center;
}
.home-content{
    padding-left: 5%;
    height: 500px;
    width: 50%;
}
.home-image{
    justify-content: center;
    height: 500px;
    width: 50%;
}
/* ---------------------typer animation-------------------- */
.typer_animation{
    font-size: 175%;

    span{
        position: relative;
    }
}
.typer_animation span::before{
    content: "Computer Engineer";
    color: orange;
    animation: words 20s infinite;
}
.typer_animation span::after{
    content: "";
    position: absolute;
    width: calc(100%);
    height: 100%;
    border-left: 2px solid white;
    right: -8px;
    animation: cursor .85s infinite,typing 20s steps(15) infinite ;
}
@keyframes cursor {
    to{
        border-left: none
    }
}
@keyframes words {
    0%,20%{
        content: "Computer Engineer";
        color:orange;
    }
    21%,40%{
        content: "AI/ML Devloper";
        color: aqua;
    }
    41%,60%{
        content: "Web Devloper";
        color: magenta;
    }
    61%,80%{
        content: "Programer";
        color: yellow;
    }
    81%,100%{
        content: "Gamer";
        color: green;
    }
}
@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}

/*--------------------for projects.html--------------------*/
.project_space{
    display: flex;
    padding: 2px;
}
.mainhead{
    text-align: center;
    font-size: large;
    margin-top: 75px;
}
.card{
    position: relative;
    width: 12.5%;
    height: 200px;
    margin: 5px;
    background-color: black;
    font-style: italic;

    transition: transform 0.8s;
    transform-style: preserve-3d;
    perspective: 1000px;
    
    p{
        font-size: 115%;
    }
    img{
        width: 170px;
        height: 165px;
        
        /* for refrence */
        /* width: 100%;
        height: 70%; */
    }

}
.card_inner{
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card_front, .card_back{
    position: absolute;
    backface-visibility: hidden;
}
.card_back {
  color: white;
  transform: rotateY(180deg);

  a{
    color: aqua;
  }
  .card_links{
    position: absolute;
    bottom: -10px;
    right: 5px;
  }
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: rotateY(180deg);
}
/* ---------------contact------------------ */
.contact_box{
    display: flex;
    margin-top: 7.5%;
}
.email_box{
    width: 50%;
}
.accounts_icon{
    width: 50%;
}
.links_icons{
    display: flex;
    
    img{
        height: 40px;
        width: 40px;
        margin: 5px;

        filter: grayscale(100%);
        transition: transform .2s;
    }
    
}
.links_icons img:hover{
    filter: grayscale(0%);
    transform: scale(1.4);
}