/* for font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* for puting style on whole html file */
*   
{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:'Poppins',sans-serif;
}

:root
{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.header
{
    
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--bg-color);
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

body{
    background-image: url("image/technologybackground.jpg");
    background-size: cover;
    background-color:var(--bg-color);
    color: var(--text-color);
}

.logo
{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar
{
    color: var(--text-color);
    font-size: 1.7rem;
    margin-left: 4rem;

}

.navbar a
{
    font-size: 1.7;
    color: var(--text-color);
    margin-left: 4trm;
}

.navbar a:hover, .navbar a.active 
{
    color: var(--main-color);
}

#menu-icon
{
    font-size: 3.2rem;
    color: var(--text-color);
    /* display: none;              for temp */
}

.social-media a
{
    color: var(--text-color);
    font-size: 1.7rem;

}

section
{
    min-height: 100vh;
    padding: 10rem; 
}

.home{
    display: flex;
    align-items: center;
    justify-content:center;
}

.home-image{
    /* justify-content: right; */
    height: 700px;
    width: 700px;
}
