/* for puting style on whole html file */
*   
{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    color: white;
}

body{
    background-color: rgb(0,0,60);
    color: black;
}

nav
{
    display:flex ;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    background-color: rgb(10,10,120);

}

nav ul
{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}

footer
{
    text-align: center;
    font-style: italic;
}

.left
{
    font-size: 25px;
}